# Python cache and compiled files
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environments
venv/
env/
ENV/

# Jupyter Notebooks checkpoints (if any)
.ipynb_checkpoints

# Logs and temp files
*.log
*.tmp
*.swp
.DS_Store
.pt
# IDE files
.vscode/
.idea/

# Flask instance folders
instance/
*.db
*.sqlite3

# Uploaded screenshots (optional if you store them temporarily)
screenshots/
temp/

# Environment/config files
.env
.env.local
.env.production



